# Assignment 1 - Python Basics Practice

In this assignment, you'll get to practice some of the concepts and skills covered in the following notebooks:

1. First Steps with Python and Jupyter
2. A Quick Tour of Variables and Data Types
3. Branching using Conditional Statements

As you go through this notebook, you will find a **???** in certain places. To complete this assignment, you must replace all the **???** with appropriate values, expressions or statements to ensure that the notebook runs properly end-to-end.

## Problem 1 - Variables and Data Types

**Q: Assign your name to the variable `name`.**

In [1]:
name = "Fatma Elzhraa"

**Q: Assign your age (real or fake) to the variable `age`.**

In [2]:
age = 21

**Q: Assign a boolean value to the variable `has_android_phone`.**

In [4]:
has_android_phone = True

You can check the values of these variables by running the next cell.

In [5]:
name, age, has_android_phone

('Fatma Elzhraa', 21, True)

**Q: Create a dictionary `person` with keys `"Name"`, `"Age"`, `"HasAndroidPhone"` and values using the variables defined above.**

In [7]:
person={
    "Name":["Fatma Elzhraa","Ahemd","Omer","Mohned"],
    "Age":[21,55,18,8],
    "HasAndroidPhone":[False,True,False,False]
}

Let's use the `person` dictionary to print a nice message.

In [8]:
for i in range(len(person["Name"])):
  print("Name:",person["Name"][i],", Age:",person["Age"][i],", HasAndroidPhone:",person["HasAndroidPhone"][i])

Name: Fatma Elzhraa , Age: 21 , HasAndroidPhone: False
Name: Ahemd , Age: 55 , HasAndroidPhone: True
Name: Omer , Age: 18 , HasAndroidPhone: False
Name: Mohned , Age: 8 , HasAndroidPhone: False

**Q (Optional): Use a `for` loop to display the `type` of each value stored against each key in `person`.**

Here's the expected output for the key `"Name"`:

```
The key "Name" has the value "Derek" of the type "<class 'str'>"
```

In [17]:
for i in range(len(person["Name"])):
 print(f"The key 'Name' value ---> {person['Name'][i]}, type ---> {type(person['Name'][i])}")

The key 'Name' value ---> Fatma Elzhraa, type ---> <class 'str'>
The key 'Name' value ---> Ahemd, type ---> <class 'str'>
The key 'Name' value ---> Omer, type ---> <class 'str'>
The key 'Name' value ---> Mohned, type ---> <class 'str'>

In [19]:
for i in range(len(person["Age"])):
 print(f"The key 'Age' value ---> {person['Age'][i]}, type ---> {type(person['Age'][i])}")

The key 'Age' value ---> 21, type ---> <class 'int'>
The key 'Age' value ---> 55, type ---> <class 'int'>
The key 'Age' value ---> 18, type ---> <class 'int'>
The key 'Age' value ---> 8, type ---> <class 'int'>

In [20]:
for i in range(len(person["HasAndroidPhone"])):
 print(f"The key 'HasAndroidPhone' value ---> {person['HasAndroidPhone'][i]}, type ---> {type(person['HasAndroidPhone'][i])}")

The key 'HasAndroidPhone' value ---> False, type ---> <class 'bool'>
The key 'HasAndroidPhone' value ---> True, type ---> <class 'bool'>
The key 'HasAndroidPhone' value ---> False, type ---> <class 'bool'>
The key 'HasAndroidPhone' value ---> False, type ---> <class 'bool'>

In [27]:
print(type(person.keys()))
print(type(list(person.keys())))

<class 'dict_keys'>
<class 'list'>

In [26]:
print(type(person.values()))

<class 'dict_values'>

In [29]:
keys=list(person.keys())
values=list(person.values())

In [31]:
for i in range(len(keys)):
  key=keys[i]
  value=values[i]
  print(f"The key is '{key}' and the value is {value}")
  for j in range(len(value)):
    value_in=value[j]
    print(f"value is {value_in} and the type is {type(value_in)}")
  print("_______________________________________________________")

The key is 'Name' and the value is ['Fatma Elzhraa', 'Ahemd', 'Omer', 'Mohned']
value is Fatma Elzhraa and the type is <class 'str'>
value is Ahemd and the type is <class 'str'>
value is Omer and the type is <class 'str'>
value is Mohned and the type is <class 'str'>
_______________________________________________________
The key is 'Age' and the value is [21, 55, 18, 8]
value is 21 and the type is <class 'int'>
value is 55 and the type is <class 'int'>
value is 18 and the type is <class 'int'>
value is 8 and the type is <class 'int'>
_______________________________________________________
The key is 'HasAndroidPhone' and the value is [False, True, False, False]
value is False and the type is <class 'bool'>
value is True and the type is <class 'bool'>
value is False and the type is <class 'bool'>
value is False and the type is <class 'bool'>
_______________________________________________________

## Problem 2 - Working with Lists

**Q: Create a list containing the following 3 elements:**

* your favorite color
* the number of pets you have
* a boolean value describing whether you have previous programming experience

In [32]:
l=["Pink",0,True]

Let's see what the list looks like:

In [33]:
print(l)

['Pink', 0, True]

**Q: Complete the following `print` and `if` statements by accessing the appropriate elements from `my_list`.**

*Hint*: Use the list indexing notation `[]`.

In [34]:
print('My favorite color is', l[0])

My favorite color is Pink

In [35]:
print(f"I have {l[1]} pets")

I have 0 pets

In [36]:
if l[2]==True:
  print("I have programming experience.")
else:
  print("I have not programming experience.")

I have programming experience.

**Q: Add your favorite single digit number to the end of the list using the appropriate list method.**

In [37]:
l.append(9)

Let's see if the number shows up in the list.

In [38]:
l

['Pink', 0, True, 9]

**Q: Remove the first element of the list, using the appropriate list method.**

*Hint*: Check out methods of list here: https://www.w3schools.com/python/python_ref_list.asp

In [39]:
l.pop(0)

'Pink'

In [40]:
l

[0, True, 9]

**Q: Complete the `print` statement below to display the number of elements in `my_list`.**

In [41]:
my_list=l
print(my_list)

[0, True, 9]

## Problem 3 - Conditions and loops

**Q: Calculate and display the sum of all the numbers divisible by 7 between 18 and 534 i.e. `21+28+35+...+525+532`**.

*Hint*: One way to do this is to loop over a `range` using `for` and use an `if` statement inside it.

In [42]:
# store the final answer in this variable
sum_of_numbers = 0

# perform the calculation here
for i in range(18,535):
  if i%7==0:
    sum_of_numbers+=i

In [43]:
print('The sum of all the numbers divisible by 7 between 18 and 534 is', sum_of_numbers)

The sum of all the numbers divisible by 7 between 18 and 534 is 20461

## Problem 4 - Flying to the Bahamas

**Q: A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company?**

Fill in values or arithmetic expressions for the variables below.

In [44]:
cost_of_flying_plane =5000

In [45]:
number_of_passengers =29

In [46]:
price_of_ticket =200

In [48]:
revenue =number_of_passengers*price_of_ticket
print(revenue)

5800

In [53]:
profit =revenue-cost_of_flying_plane
print('The company makes of a profit of {} dollars'.format(profit))

The company makes of a profit of 800 dollars

**Q : Out of the 29 people who took the flight, only 12 buy tickets to return from the Bahamas on the same plane. If the flying the plane back also costs 5000 dollars, and does the company make an overall profit or loss? The company charges the same fee of 200 dollars per ticket for the return flight.**

Use an `if` statement to display the result.

In [51]:
# this is optional
return_passengers = 12
return_profit = (return_passengers*price_of_ticket)-cost_of_flying_plane
print(return_profit)

-2600

In [54]:
# this is optional
if return_profit > 0:
    print("The company makes an overall profit of {} dollars".format(return_profit))
else:
    print("The company makes an overall loss of {} dollars".format(abs(return_profit)))

The company makes an overall loss of 2600 dollars